<div class="input-group">
    <div class="form-outline">
      <input type="text" [(ngModel)]="searchTerm">
      <!-- <label class="form-label" for="form1">Search</label> -->
    </div>
    <button type="button" class="btn btn-primary" (click)="onClick()" [disabled]="isDisabled">
      Search
    </button>
  </div>
  <div class="container-fluid" id="product-list-container">
    <ul class="product-list">
      <app-product-card *ngFor="let prod of httpService.searchResults" [product]="prod"></app-product-card>
    </ul>
  </div>
